<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONTACT</title>
    <!-- <style>
        body{
            background: rgb(152, 211, 250);
            text-align: center;
            color:white;
            font-size: 50px;

        }
        h1,h2{
            padding: 3% 15%;
            text-transform: uppercase;
        }



    </style> -->
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
        <% include partials/nav.ejs %>

    <h1>Contact</h1>
    <h2>
        
        Welcome to the best website on the internet!!.
        
    </h2>
    <!-- <h5>
       Department : <%= quer.dept %>
    </h5> -->
    <p>You won't find better anywere!!</p>
    <br>
    <form id="form-contact">
        <label for="who">Who do you want to contact</label><br>
        <input type="text" name="who" value="<%=quer.name%>"><br>
        <label for="department">Which department?</label><br>
        <input type="text" name="department" value="<%=quer.dept%>"><br>
        <label for="email">This is your email</label><br>
        <input type="email" name="email" ><br><br>
        <input type="submit" value="Send">    
    </form>

    <h2>End</h2>
</body>

</html>