<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <style>
        body{
            background: rgb(152, 211, 250);
            text-align: center;
            color:white;
            font-size: 50px;

        }
        h1,h2{
            padding: 3% 15%;
            text-transform: uppercase;
        }



    </style>
</head>
<body>
    <h1>Profile</h1>
    <h2>
        Welcome to a profile : <%=person %>
    </h2>
    <h3>
       Name of person <%=data.name %>
    </h3>
        Age: <%=data.age %>

    <h3>
    </h3>
       Job: <%=data.job %>
    <h3>

    </h3>
    <p>You won't find better anywere!!</p>
</body>
</html>